
body {
    background-image: url('../image/home.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Oswald', sans-serif;
    font-size: larger;
}

input {
    display: block;
}