<!DOCTYPE html>
<html>
<head> 
    <title>Início</title>
</head>
<body>
<h1> Personagens </h1>
<lo>
    <a href="http://192.168.2.126:8080/personagem/1">Personagem 1</a>
    <a href="http://192.168.2.126:8080/personagem/2">Personagem 2</a>
    <a href="http://192.168.2.126:8080/personagem/3">Personagem 3</a>
    <a href="http://192.168.2.126:8080/personagem/4">Personagem 4</a>
    <a href="http://192.168.2.126:8080/personagem/5">Personagem 5</a>
    <a href="http://192.168.2.126:8080/personagem/6">Personagem 6</a>
    <a href="http://192.168.2.126:8080/personagem/7">Personagem 7</a>
    <a href="http://192.168.2.126:8080/personagem/8">Personagem 8</a>
    <a href="http://192.168.2.126:8080/personagem/9">Personagem 9</a>
    <a href="http://192.168.2.126:8080/personagem/10">Personagem 10</a>

</body>
</html>