<!DOCTYPE html>
<html>
    <head>
        <title>Warriors Of Korú</title>
    <link rel="stylesheet" href="../static/css/login.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&family=Roboto:wght@100;300;500;700&display=swap" rel="stylesheet">


</head>
<body>
    <h1>WARRIORS OF KORÚ</h1>
    <section>
        Bem-vindo a página inicial
    </section>
        
    <p>Faça Login para continuar.</p>
    <p> </p>
    

    <form action="/login" id="Login" method="post">
        <label for="e=mail">E-mail</label>
        <input type="text" name="nome" id="nome">
        <label for="senha>">Senha</label>
        <input type="password" senha="senha" id="senha">
        <button type="submite" id="btn_login">Entrar</button>
    </form>
    <p></p>
    <p>Ainda não tem conta?</p>
    <form action="../templates/cadastro.html/">
        <input type="submit" value="Cadastre-se" />
    </form>

</body>

</html>
