<!DOCTYPE html>
<html>
    <head>
        <title>Warriors Of Korú</title>
    <link rel="stylesheet" href="../static/css/login.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&family=Roboto:wght@100;300;500;700&display=swap" rel="stylesheet">


</head>
<body>
    <h1>WARRIORS OF KORÚ</h1>
    <section>
        Bem-vindo a página inicial
    </section>
        
    <p>asd</p>
    <p> </p>
    

    <form method="POST" action="">
        <label for="username">Nome de Usuário:</label>
        <input type="text" id="nome" name="nome" required>
        <br>
        <label for="password">Senha:</label>
        <input type="password" id="senha" name="senha" required>
        <br>
        <input type="submit" value="Entrar">
    </form>
    <p></p>
    <p>Ainda não tem conta?</p>
    <form action="" method="GET">
        <input type="submit" value="Cadastre-se" />
    </form>

</body>

</html>
